@charset "utf-8";

.wrap {
  /* max-width: 1440px; */
  margin: 0 auto;
  height: 100%;
}

h5 {
  font-weight: bold !important;
}

.card {
  border-radius: 5px 0 0 0 !important;
}

.card-title {
  text-align: center;
}

/* ν—¤λ” */
header {
  height: 144px;
  background-color: gray;
}

main {
  height: 100%;
}

.row-md-3 {
  height: 360px;
}

.sec1 {
  border: 1px solid grey;
}

.sec1__sub1 {
  height: 360px;
}

.sub1__movie1 {
  padding-top: 50px;
  padding-left: 20px;
  font-size: 40px;
  font-weight: bold;
}

.sub1__movie2 {
  padding-left: 30px;
  font-size: 13px;
}

.sub1__movie3 {
  height: 50px;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 100px;
}

.group1 {
  font-size: 20px;
  height: 50px;
  padding: 0 10px 0 0px;
  display: inline !important;
}

.sec1__sub2 {
  height: 360px;
}

.sub2__movie1 {
  height: 300px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}

.movie-poster > a > img {
  width: 100%;
  height: 100%;
}

.sub2__movie2 {
  width: 200px;
  height: 50px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  align-self: center;
  margin: 0 auto;
}

.sec2__sub1 {
  margin-top: 20px;
  height: 180px;
}

.sec2-sub1__movie {
  font-size: 18px;
}

.sec3__sub2 {
  height: 50px;
}

.sec3-staff {
  height: 250px;
}

.actor-img {
  width: 100%;
  height: 100%;
}

.sec4__sub2 {
  height: 50px;
}

.sec4-movie {
  height: 250px;
}

/* ν‘Έν„° */
footer {
  height: 217px;
  background-color: gray;
}
