@charset "utf-8";

body {
    margin: 0;
    padding: 0;
    font-size: 0.9em !important;
}

ul {
    list-style: none;
    margin: 0 !important;
    padding: 0 !important;
}

a {
    color: black !important;
    text-decoration: none !important;
}

p {
    margin: 0 !important;
}

.wrap {
    overflow: hidden;
    min-width: 1200px;
}

header {
    height: 75px;
    display: flex;
    position: relative;
    align-items: center;
    border-bottom: 1px solid gray;
    
}

nav {
    width: 1200px;
    margin: 0px auto;
    display: flex;
}

nav a:hover {
    color: blue;
}

.nav_img {
    width: 150px;
    display: block;
}

.nav__top-button {
    width: 500px;
    padding-left: 20px;
}

.nav__top-button > .dropdown-menu {
    width: 400px;
}

.nav__top-button > .dropdown-menu > li {
    padding: 5px 5px;
}

.nav__top-button > .dropdown-menu > li > a {
    font-size: 0.9em !important;
}


.nav__menu {
    display: flex;
    justify-content: flex-end;
    width: 550px;
}

.nav__menu > li {
    padding: 0 10px;
}


main {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.menu__section {
    margin: 40px 0;
}

.main-sec1 {
    height: 322px;
}

.main-sec2 {

}

.sec2__content {
    height: 60px;
    background-color: #343B53;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
}

.sec2__content > p:nth-child(1) {
    width: 80px;
    text-align: center;
}

.main-sec2 p:nth-child(2) {
    width: 1100px; 
}

.main-sec3 {

}

.sec3__content {
    height: 500px;
    margin: 40px 0;
    background-image: linear-gradient(rgba(1, 2, 23, 0.5), rgba(0, 0, 0, 0.2)),url('../images/banner1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
    color: white;
    display: flex;
}

.sec3__content > div:nth-child(1) {
    width: 400px;
    padding: 70px 40px;
}

.sec3__content > div:nth-child(2) {
    width: 800px;
}

.sec4__content {
    height: 260px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
}

.sec4__content > div:nth-child(1) {
    width: 400px;
    background-image: url('../images/banner2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    border-radius: 10px 0 0 10px;
}

.sec4__content > div:nth-child(2) {
    width: 550px;
    padding: 5px 15px;
}

.sec4__content > div:nth-child(3) {
    width: 250px;
    padding: 30px 0;
    text-align: center;
}

.sec5__content {
    height: 80px;
    display: flex;
}

.btn-helper {
    width: 33.33%;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 0 10px;
    padding: 14px;
    text-align: left;
    cursor: pointer;
}

.btn-helper > div {
    display: flex;
    height: 50%;
    align-items: center;
}

.btn-helper > div > div:nth-child(1) {
    width: 70%;
    font-size: 20px;
}

.btn-helper > div > div:nth-child(2) {
    width: 30%;
    text-align: right;
}

.sec6__content {
    height: 190px;
    border: 1px solid gray;
    border-radius: 10px;
    display: flex;
}

.sec6__content > div:nth-child(1) {
    width: 55%;
    height: 100%;
    background-image: url('../images/banner3.jpg');
    background-position: left;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px 0 0 10px;
    
}

.sec6__content > div:nth-child(2) {
    width: 45%;
    padding: 10px 20px;
    align-items: center;
}

.main-sec7 {
    /* height: 310px; */
}

.main-sec7 > h2 {
    font-size: 30px;
    font-weight: 500;
}

.main-sec7 > div {
    display: flex;
}

.main-sec7 > div > .sec7__reservation1 {
    height: 250px;
    width: 1000px;
    background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.2), rgba(5, 1, 20, 0.8)), url('../images/early1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 10px;
    padding-left: 10px;
    margin-right: 20px;
}

.main-sec8 {
    height: 60px;
}

.main-sec8 > div {
    text-align: center;
}

.main-sec8 > div > a {
    color:blue;
}

.main-sec8 > a:hover {
    color: blue;
    text-decoration: underline;
}

footer {
    height: 612px;
}

.footer_content {
    width: 1200px;
    margin: 0 auto;
}

.footer_content > div:nth-child(1) {
    border-bottom: 1px solid gray;
}

.sitemap {
    display: flex;
}

.sitemap > li {
    width: 300px;
    padding: 10px;
}

.sitemap > li > ul > li {
    padding: 6px 0;
}

.sitemap > li > ul > li > a {
    color:blue;
    font-size: 12px;
}

.footer_content div:nth-child(2) {
    padding: 50px 0;
}